<!-- app.component.html -->
<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Gestion de Contact</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Gestion de Contact</ion-title>
      </ion-toolbar>
    </ion-header>

    <div class="ion-padding">
      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header">
            <ion-label>Ajouter un contact</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
              <form [formGroup]="contactForm" (ngSubmit)="ajouterContact()">
                <ion-input formControlName="nom" label="Nom" label-placement="floating" fill="solid" placeholder="Entrez un nom"></ion-input>
                <ion-input formControlName="prenom" label="Prénom" label-placement="floating" fill="solid" placeholder="Entrez un prénom"></ion-input>
                <ion-input formControlName="email" label="Email" label-placement="floating" fill="solid" placeholder="Entrez un email"></ion-input>
                <ion-input formControlName="telephone" label="Téléphone" label-placement="floating" fill="solid" placeholder="Entrez un n° de téléphone"></ion-input>
                <ion-input formControlName="adresse" label="Adresse complète" label-placement="floating" fill="solid" placeholder="Entrez une adresse"></ion-input>
                <div class="ion-padding">
                  <div class="centered-content">
                    <ion-button color="success" type="submit">Ajouter</ion-button>
                  </div>
                </div>
              </form>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </div>

    <div class="ion-padding">
      <div class="flex-container">
        <ion-searchbar color="light" animated="true" placeholder="Rechercher" class="custom-searchbar"></ion-searchbar>
      </div>
    </div>

    <div class="ion-padding">
      <ion-list>
        <ion-list-header>
          <ion-label>Mes contacts</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let contact of contacts; let i = index">
          <ion-label>
            {{ contact.nom }} {{ contact.prenom }}
          </ion-label>
          <ion-button slot="end" color="danger" (click)="supprimerContact(i)">
            <ion-icon name="close-circle-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </div>

    <div class="ion-padding">
      <ion-list>
        <ion-list-header class="taskAccomplished">
          <ion-label>Détails du contact</ion-label>
        </ion-list-header>
        <!-- Afficher les détails du contact sélectionné -->
      </ion-list>
    </div>
  </ion-content>
</ion-app>
