ion-list-header {
  --background: #018dffe1;
  --color: #ffffff;

  --border-width: 0 0 4px 0;
  --border-color: #ffffff;
  --border-style: double;
  
  border-radius: 7px 7px 0 0;
}

.transparent-input {
    --background: rgba(255, 255, 255, 0.9);
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
  